<p id="notice"><%= notice %></p>

<p>
  <strong>Building:</strong>
  <%= @classroom.building.name %><br />
  <strong>Name:</strong>
  <%= @classroom.name %><br />
  <strong>Temperature:</strong>
  <%= @classroom.try.device.temperature if @classroom.device %>
</p>

<%=image_tag 'lokaal4308.png', class: 'classroom-img', id: 'example-id' %>
<%=image_tag 'qr_code_hint.jpg', class: 'qr-code' %>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
