<% if notice %>
  <div class="success">
    <p><%= notice %></p>
  </div>
<% end %>

<div class="breadcrumbs">
  <%= link_to 'Buildings', buildings_path %>
  <span> / </span>
  <%= link_to @classroom.building.name, building_path(@classroom.building) %>
  <span> / </span>
  <%= link_to 'Classrooms', building_path(@classroom.building) %>
  <span> / </span>
  <%= link_to @classroom.name, building_classroom_path(@classroom.building, @classroom) %>
</div>

<p>
  <strong>Options: </strong>
  <%= @classroom.options.map { |option| option.name }.join(', ').html_safe %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @classroom.try(:device).try(:temperature).nil? ? 'Not available' : @classroom.try(:device).try(:temperature) %>
  <strong>Humidity:</strong>
  <%= @classroom.try(:device).try(:humidity).nil? ? 'Not available' : @classroom.try(:device).try(:humidity) %>
</p>

<% if !user_signed_in? %>
<div class="loginDiv">
  <h1>Login to create a reservation</h1>
  <%= link_to('Login', new_user_session_path) %>
</div>
<% end %>

<div class="classroomReservationContainer">
  <div class="calendar">
    <div class="dayColumn">
      <div class="dayHeader">
         &nbsp;<br />&nbsp;
      </div>
      <% (1..15).each do |block| %>
        <div class="dayHourText"><%= block %>: <%= get_hours(block) %></div>
      <% end %>
    </div>
    <% current_week.each do |date| %>
      <div class="dayColumn">
        <div class="dayHeader">
          <%= date.strftime("%A")%><br />
          <%= date %>
        </div>
        <% (1..15).each do |hour| %>
          <%= get_reservation(date, hour).html_safe %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="reservation">
    <% if user_signed_in? %>
      <%= render 'reservation_form', reservation: @reservation %>
    <% end %>
  </div>
</div>

<%= link_to building_path(@classroom.building) do %>
  <div class="backButton">
    <p>Back</p>
  </div>
<% end %>
