<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @classroom.building.name %><br />
  <strong>Classroom:</strong>
  <%= @classroom.name %><br />
  <strong>Temperature:</strong>
  <%= @classroom.try(:device).try(:temperature).nil? ? 'None' : @classroom.(:device).(:temperature) %>
</p>

<h1>Reservations</h1>

<div class="classroomReservationContainer">
  <div class="calendar">
    <div class="dayColumn">
      <div class="dayHeader">
         &nbsp;<br />&nbsp;
      </div>
      <% (1..15).each do |counter| %>
        <div class="dayHour"><%= counter %> <%= get_hours(counter) %></div>
      <% end %>
    </div>
    <% current_week.each do |date| %>
      <div class="dayColumn">
        <div class="dayHeader">
          <%= date.strftime("%A")%><br />
          <%= date %>
        </div>
        <% (1..15).each do |hour| %>
          <div class="dayHour">
            <%= get_reservation_date_hours(date, hour) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="reservation">
    <% if user_signed_in? %>
      <h1>Create a reservation</h1>
      <%= render 'reservation_form', reservation: @reservation %>
    <% else %>
      <h1>Login to create a reservation</h1>
      <%= link_to('Login', new_user_session_path) %>
    <% end %>
  </div>
</div>
<%= link_to classrooms_path do %>
  <div class="backButton">
    <p>Back</p>
  </div>
<% end %>
