<p id="notice"><%= notice %></p>

<div class="breadcrumbs">
  <%= link_to 'Buildings', buildings_path %>
  <span> / </span>
  <%= link_to @classroom.building.name, building_path(@classroom.building) %>
  <span> / </span>
  <%= link_to 'Classrooms', classrooms_path %>
  <span> / </span>
  <%= link_to @classroom.name, classroom_path(@classroom) %>
</div>

<p>
  <strong>Temperature:</strong>
  <%= @classroom.try(:device).try(:temperature).nil? ? 'None' : @classroom.try(:device).try(:temperature) %>
</p>

<div class="classroomReservationContainer">
  <div class="calendar">
    <div class="dayColumn">
      <div class="dayHeader">
         &nbsp;<br />&nbsp;
      </div>
      <% (1..15).each do |block| %>
        <div class="dayHourText"><%= block %>: <%= get_hours(block) %></div>
      <% end %>
    </div>
    <% current_week.each do |date| %>
      <div class="dayColumn">
        <div class="dayHeader">
          <%= date.strftime("%A")%><br />
          <%= date %>
        </div>
        <% (1..15).each do |hour| %>
          <%= get_reservation(date, hour).html_safe %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="reservation">
    <% if user_signed_in? %>
      <h1>Create a reservation</h1>
      <%= render 'reservation_form', reservation: @reservation %>
    <% else %>
      <h1>Login to create a reservation</h1>
      <%= link_to('Login', new_user_session_path) %>
    <% end %>
  </div>
</div>

<%= link_to classrooms_path do %>
  <div class="backButton">
    <p>Back</p>
  </div>
<% end %>
