<%= get_availability(@classroom).html_safe %>
<div class="qrClassroomsShow">
  <%= image_tag(generate_qr("#{request.protocol}#{request.host_with_port}/classrooms/#{@classroom.id}.json"), class: "qr-code") %>
  <div class="qrDetails">
    <strong>Temperature:</strong>
    <%= @classroom.try(:device).try(:temperature).nil? ? 'Not available' : @classroom.try(:device).try(:temperature) %>
    <strong>Humidity:</strong>
    <%= @classroom.try(:device).try(:humidity).nil? ? 'Not available' : @classroom.try(:device).try(:humidity) %>
  </div>
  <div class="qrOptions">
    <strong>Options: </strong>
      <%= @classroom.options.map { |option| option.name }.join(', ').html_safe %>
  </div>
</div>