<div class="breadcrumbs">
  <a href="/admin/dashboard">Administrator Dashboard</a>
</div>
<div class="container">
  <%= link_to buildings_path, :action => 'go' do %>
    <div class="admin_button">
      <%= image_tag("building_icon.png") %><br />
      <%= link_to 'Manage buildings', buildings_path %>
    </div>
  <% end %>

  <%= link_to options_path, :action => 'go' do %>
    <div class="admin_button">
      <%= image_tag("classroom_options_icon.png") %><br />
      <%= link_to 'Manage classroom options', options_path %>
    </div>
  <% end %>

  <%= link_to devices_path, :action => 'go' do %>
    <div class="admin_button">
      <%= image_tag("devices_icon.png") %><br />
      <%= link_to 'Manage devices', devices_path %>
    </div>
  <% end %>

  <%= link_to classrooms_path, :action => 'go' do %>
    <div class="admin_button">
      <%= image_tag("classroom_icon.png") %><br />
      <%= link_to 'Manage classrooms', classrooms_path %>
    </div>
  <% end %>
</div>