<%= form_for [:admin, @building, @classroom] do |form| %>
  <% if @classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% @classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :classroom_name %>
  </div>

  <div class="field">
    <%= form.label :maximum_persons %>
    <%= form.number_field :max_persons, id: :classroom_max_persons %>
  </div>

  <div class="horizontalField">
    <%= form.label :options %><br />
    <%= Option.all.length == 0 ? 'None' : form.collection_check_boxes(:option_ids, Option.all, :id, :name_with_initial) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
