<p id="notice"><%= notice %></p>

<p>
  <strong>Building:</strong>
  <%= @classroom.building.name %><br />
  <strong>Name:</strong>
  <%= @classroom.name %><br />
  <strong>Temperature:</strong>
  <%= @classroom.try(:device).try(:temperature) %>
</p>

<p>
<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Block</th>
	    <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td> - </td>
        <% current_week.each do |date| %>
          <td><%= date %></td>
        <% end %>

        <% next_week.each do |date| %>
          <td><%= date %></td>
        <% end %>

      </tr>
      <tr>
        <td><b>1</b> 8:30 - 9:20</td>
        <% (1..10).each do |counter| %>
          <td><%= counter %></td>
        <% end %>
      </tr>
      <tr>
        <td><b>2</b> 9:20 - 10:10</td>
        <% (1..10).each do |counter| %>
          <td><%= counter %></td>
        <% end %>
      </tr>
      <tr>
        <td><b>3</b> 10:30 - 11:20</td>
        <% (1..10).each do |counter| %>
          <td><%= counter %></td>
        <% end %>
      </tr>
      <tr>
        <td><b>4</b> 11:20 - 12:10</td>
        <% (1..10).each do |counter| %>
          <td><%= counter %></td>
        <% end %>
      </tr>
      <tr>
        <td><b>5</b> 12:10 - 13:00</td>
        <% (1..10).each do |counter| %>
          <td><%= counter %></td>
        <% end %>
      </tr>
      <tr>
        <td><b>6</b> 13:00 - 13:50</td>
        <% (1..10).each do |counter| %>
          <td><%= counter %></td>
        <% end %>
      </tr>
      <tr>
        <td><b>7</b> 13:50 - 14:40</td>
        <% (1..10).each do |counter| %>
          <td><%= counter %></td>
        <% end %>
      </tr>
      <tr>
        <td><b>8</b> 15:00 - 15:50</td>
        <% (1..10).each do |counter| %>
          <td><%= counter %></td>
        <% end %>
      </tr>
      <tr>
        <td><b>9</b> 15:50 - 16:40</td>
        <% (1..10).each do |counter| %>
          <td><%= counter %></td>
        <% end %>
      </tr>
      <tr>
        <td><b>10</b> 17:00 - 17:50</td>
        <% (1..10).each do |counter| %>
          <td><%= counter %></td>
        <% end %>
      </tr>
      <tr>
        <td><b>11</b> 17:50 - 18:40</td>
        <% (1..10).each do |counter| %>
          <td><%= counter %></td>
        <% end %>
      </tr>
      <tr>
        <td><b>12</b> 18:40 - 19:30</td>
        <% (1..10).each do |counter| %>
          <td><%= counter %></td>
        <% end %>
      </tr>
      <tr>
        <td><b>13</b> 19:30 - 20:20</td>
        <% (1..10).each do |counter| %>
          <td><%= counter %></td>
        <% end %>
      </tr>
      <tr>
        <td><b>14</b> 20:20 - 21:10</td>
        <% (1..10).each do |counter| %>
          <td><%= counter %></td>
        <% end %>
      </tr>
      <tr>
        <td><b>15</b> 21:10 - 22:00</td>
        <% (1..10).each do |counter| %>
          <td><%= counter %></td>
        <% end %>
      </tr>
  </tbody>
</table>
<%= image_tag(generate_qr("#{request.protocol}#{request.host_with_port}/classrooms/#{@classroom.id}.json"), class: "qr-code") %>
<% if user_signed_in? %>
	<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<% end %>
<%= link_to 'Back', classrooms_path %>

<%= render 'reservation_form', reservation: @reservation %>
