<p id="notice"><%= notice %></p>

<div class="breadcrumbs">
  <a href="/admin/dashboard">Administrator Dashboard</a>
  <span> / </span>
  <%= link_to 'Buildings', buildings_path %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td><%= building.name %></td>
        <td><%= link_to 'Show', building %></td>
        <td><%= link_to 'Edit', edit_building_path(building) %></td>
        <td><%= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="adminTable">
<thead>
<tr>
<th>head1</th>
<th>head2</th>
</tr>
</thead>
<tbody>
<tr>
<td>cell1_1</td><td>cell2_1</td></tr>
<tr>
<td>cell1_2</td><td>cell2_2</td></tr>
<tr>
<td>cell1_3</td><td>cell2_3</td></tr>
<tr>
<td>cell1_4</td><td>cell2_4</td></tr>
<tr>
<td>cell1_5</td><td>cell2_5</td></tr>
<tr>
<td>cell1_6</td><td>cell2_6</td></tr>
<tr>
<td>cell1_7</td><td>cell2_7</td></tr>
<tr>
<td>cell1_8</td><td>cell2_8</td></tr>
<tr>
<td>cell1_9</td><td>cell2_9</td></tr>
<tr>
<td>cell1_10</td><td>cell2_10</td></tr>
<tr>
<td>cell1_11</td><td>cell2_11</td></tr>
<tr>
<td>cell1_12</td><td>cell2_12</td></tr>
</tbody>
</tr>
</table>

<br>

<%= link_to 'New Building', new_building_path %>
