<% if notice %>
  <div class="success">
    <p><%= notice %></p>
  </div>
<% end %>

<div class="breadcrumbs">
  <%= link_to 'Buildings', admin_buildings_path %>
</div>

<table class="adminTable">
  <thead>
  <tr>
    <td>Location name</td>
    <td>View</td>
  </tr>
  </thead>

  <% @buildings.each do |building| %>
    <tr>
      <td><%= building.name %></td>
      <td>
        <%= link_to building_path(building) do %>
          <%= image_tag "show.png", class: "action" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>