<p id="notice"><%= notice %></p>

<div class="breadcrumbs">
  <%= link_to 'Buildings', buildings_path %>
  <span> / </span>
  <%= link_to @building.name, request.original_url %>
  <span> / </span>
  <%= link_to 'Classrooms', request.original_url %>
</div>

<div class="classroomContainer">
  <% @building.classrooms.each do |classroom| %>
    <%= link_to building_classroom_path(@building, classroom) do %>
      <div class="classroomBox">
        <div class="classroomHeader">
          <span class="title"><%= classroom.name %></span>
          <span class="description"><%= classroom.building.name %></span>
        </div>
        <%= get_availability(classroom).html_safe %>
        <div class="classroomContent">
          <p>Maximum persons: <%= classroom.max_persons %></p>
          <p><%= classroom.options.map { |option| option.name }.join(', ').html_safe %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to buildings_path do %>
  <div class="backButton">
    <p>Back</p>
  </div>
<% end %>
