<p id="notice"><%= notice %></p>

<div class="breadcrumbs">
  <%= link_to 'My Reservations', reservations_path %>
</div>

<table class="adminTable">
  <thead>
    <tr>
	    <td>Date</td>
      <td>Title</td>
      <td>Description</td>
      <td>From</td>
      <td>To</td>
      <td>Action</td>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
	    <td><%= reservation.date %></td>
        <td><%= reservation.title %></td>
        <td><%= reservation.description %></td>
        <td><%= reservation.from_block %></td>
        <td><%= reservation.to_block %></td>
        <td>
          <%= link_to classroom_path(reservation.classroom) do %>
            <%= image_tag "show.png", class: "action" %>
          <% end %>

          <%= link_to edit_reservation_path(reservation) do %>
            <%= image_tag "edit.png", class: "action" %>
          <% end %>

          <%= link_to reservation, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= image_tag "delete.png", class: "action" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to classrooms_path do %>
  <div class="backButton">
    <p>Back</p>
  </div>
<% end %>
