<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @reservation.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reservation.description %>
</p>

<p>
  <strong>From:</strong>
  <%= @reservation.from_block %>
</p>

<p>
  <strong>To:</strong>
  <%= @reservation.to_block %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
