<%= form_with(model: calendar, local: true) do |form| %>
  <% if calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

      <ul>
      <% calendar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :classroom %>
    <%= form.text_field :classroom, id: :calendar_classroom %>
  </div>

  <div class="field">
    <%= form.label :startTime %>
    <%= form.text_field :startTime, id: :calendar_startTime %>
  </div>

  <div class="field">
    <%= form.label :endTime %>
    <%= form.text_field :endTime, id: :calendar_endTime %>
  </div>

  <div class="field">
    <%= form.label :reservation %>
    <%= form.text_field :reservation, id: :calendar_reservation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
