<div class="breadcrumbs">
  <%= link_to 'QR', qr_buildings_path %>
  <span> / </span>
  <%= link_to 'Buildings', qr_buildings_path %>
</div>

<table class="adminTable">
  <thead>
  <tr>
    <td>Id</td>
    <td>Building name</td>
    <td>Action</td>
  </tr>
  </thead>

  <% @buildings.each do |building| %>
    <tr>
      <td><%= building.id %></td>
      <td><%= building.name %></td>
      <td>
        <%= link_to qr_building_path(building) do %>
          <%= image_tag "show.png", class: "action" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
