<div class="breadcrumbs">
  <%= link_to 'QR', qr_buildings_path %>
  <span> / </span>
  <%= link_to 'Buildings', qr_buildings_path %>
  <span> / </span>
  <%= link_to @building.name, request.original_url %>
</div>

<p>
  <strong>Location:</strong>
  <span><%= @building.name %></span>
</p>

<table class="adminTable">
  <thead>
  <tr>
    <td>Classroom name</td>
    <td>Options</td>
    <td>Temperature</td>
    <td>Maximum persons</td>
    <td>Actions</td>
  </tr>
  </thead>

  <% @building.classrooms.each do |classroom| %>
    <tr>
      <td><%= classroom.name %></td>
      <td><%= classroom.options.length == 0 ? 'None' : classroom.options.map { |option| option.name }.join(', ').html_safe %></td>
      <td><%= classroom.try(:device).try(:temperature).nil? ? 'None' : classroom.(:device).(:temperature) %></td>
      <td><%= classroom.max_persons %></td>
      <td>
        <%= link_to qr_building_classroom_path(@building, classroom) do %>
          <%= image_tag "show.png", class: "action" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to qr_buildings_path do %>
  <div class="backButton">
    <p>Back</p>
  </div>
<% end %>