<div class="breadcrumbs">
  <a href="/admin/dashboard">Administrator Dashboard</a>
  <span> / </span>
  <%= link_to 'Devices', admin_devices_path %>
  <span> / </span>
  <%= link_to "Edit #{@device.name}", edit_admin_device_path(@device) %>
</div>

<div class="formContainer">
  <h1>Editing device <%= @device.name %></h1>

  <%= render 'form', device: @device %>

  <%= link_to admin_building_classroom_path(@device.classroom.building, @device.classroom) do %>
    <div class="backButton">
      <p>Back</p>
    </div>
  <% end %>
</div>