<% if notice %>
  <div class="success">
    <p><%= notice %></p>
  </div>
<% end %>

<div class="breadcrumbs">
  <%= link_to 'Administrator Dashboard', admin_dashboard_index_path %>
  <span> / </span>
  <%= link_to 'Devices', admin_devices_path %>
</div>

<table class="adminTable">
  <thead>
    <tr>
      <td>Building</td>
      <td>Classroom</td>
      <td>Device name</td>
      <td>Temperature</td>
      <td>Humidity</td>
      <td>Authentication token</td>
      <td>Action</td>
    </tr>
  </thead>
  <% @devices.each do |device| %>
      <tr>
        <td><%= device.classroom.building.name %></td>
        <td><%= device.classroom.name %></td>
        <td><%= device.name %></td>
        <td><%= device.temperature %></td>
        <td><%= device.humidity %></td>
        <td><%= device.auth %></td>
        <td>
          <%= link_to edit_admin_building_classroom_device_path(device.classroom.building, device.classroom, device) do %>
            <%= image_tag "edit.png", class: "action" %>
          <% end %>

          <%= link_to admin_device_path(device), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= image_tag "delete.png", class: "action" %>
          <% end %>
        </td>
      </tr>
  <% end %>
    <tr>
      <td colspan="7">
        <%= link_to new_admin_device_path do %>
          <%= image_tag "add.png", class: "action" %><span class="noLink"> Add a new device</span>
        <% end %>
      </td>
    </tr>
</table>

<%= link_to 'dashboard' do %>
  <div class="backButton">
    <p>Back</p>
  </div>
<% end %>
