<% if notice %>
  <div class="success">
    <p><%= notice %></p>
  </div>
<% end %>

<div class="breadcrumbs">
  <%= link_to 'Administrator Dashboard', admin_dashboard_index_path %>
  <span> / </span>
  <%= link_to 'Devices', admin_devices_path %>
</div>

<table class="adminTable">
  <thead>
    <tr>
      <td>Id</td>
      <td>Building</td>
      <td>Classroom</td>
      <td>Device name</td>
      <td>Temperature</td>
      <td>Humidity</td>
      <td>Authentication token</td>
      <td>Action</td>
    </tr>
  </thead>
  <% @devices.each do |device| %>
      <tr>
        <td><%= device.id %></td>
        <td><%= device.try(:classroom).try(:building).try(:name) %></td>
        <td><%= device.try(:classroom).try(:name) %></td>
        <td><%= device.name %></td>
        <td><%= device.temperature %></td>
        <td><%= device.humidity %></td>
        <td><%= device.auth %></td>
        <td>

          <%= link_to admin_device_path(device), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= image_tag "delete.png", class: "action" %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>

<%= link_to 'dashboard' do %>
  <div class="backButton">
    <p>Back</p>
  </div>
<% end %>
