<div class="breadcrumbs">
  <a href="/admin/dashboard">Administrator Dashboard</a>
  <span> / </span>
  <%= link_to 'Buildings', admin_buildings_path %>
  <span> / </span>
  <%= link_to @classroom.building.name, admin_building_path(@classroom.building) %>
  <span> / </span>
  <%= link_to 'Classrooms', admin_building_classrooms_path %>
  <span> / </span>
  <%= link_to @classroom.name, admin_building_classroom_path(@classroom.building, @classroom) %>
  <span> / </span>
  <%= link_to "New device", new_admin_building_classroom_device_path(@classroom.building, @classroom, @device) %>
</div>

<div class="formContainer">
  <h1>New device for <%= @classroom.name %> in <%= @classroom.building.name %></h1>

  <%= render 'form', device: @device %>

</div>
