<% if notice %>
  <div class="success">
    <p><%= notice %></p>
  </div>
<% end %>

<div class="breadcrumbs">
  <a href="/admin/dashboard">Administrator Dashboard</a>
  <span> / </span>
  <%= link_to 'Buildings', admin_buildings_path %>
</div>

<table class="adminTable">
  <thead>
    <tr>
      <td>Id</td>
      <td>Building name</td>
      <td>Action</td>
    </tr>
  </thead>

    <% @buildings.each do |building| %>
      <tr>
        <td><%= building.id %></td>
        <td><%= building.name %></td>
        <td>
          <%= link_to admin_building_path(building) do %>
            <%= image_tag "show.png", class: "actions" %>
          <% end %>

          <%= link_to edit_admin_building_path(building) do %>
            <%= image_tag "edit.png", class: "actions" %>
          <% end %>

          <%= link_to admin_building_path(building), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= image_tag "delete.png", class: "actions" %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3">
        <%= link_to new_admin_building_path do %>
          <%= image_tag "add.png", class: "actions" %><span class="noLink"> Add a new building</span>
        <% end %>
      </td>
    </tr>
</table>
