<% if notice %>
  <div class="success">
    <p><%= notice %></p>
  </div>
<% end %>

<div class="breadcrumbs">
  <a href="/admin/dashboard">Administrator Dashboard</a>
  <span> / </span>
  <%= link_to 'Buildings', admin_buildings_path %>
  <span> / </span>
  <%= link_to @building.name, request.original_url %>
</div>

<p>
  <strong>Location:</strong>
  <span><%= @building.name %></span>
  <%= link_to edit_admin_building_path(@building) do %>
    <%= image_tag "edit.png", class: "actions" %>
  <% end %>
</p>

<table class="adminTable">
  <thead>
    <tr>
      <td>Classroom name</td>
      <td>Options</td>
      <td>Temperature</td>
      <td>Maximum persons</td>
      <td>Actions</td>
    </tr>
  </thead>

  <% @building.classrooms.each do |classroom| %>
    <tr>
      <td><%= classroom.name %></td>
      <td><%= classroom.options.length == 0 ? 'None' : classroom.options.map { |option| option.name }.join(', ').html_safe %></td>
      <td><%= classroom.try(:device).try(:temperature).nil? ? 'None' : classroom.(:device).(:temperature) %></td>
      <td><%= classroom.max_persons %></td>
      <td>
        <%= link_to admin_building_classroom_path(@building, classroom) do %>
          <%= image_tag "show.png", class: "actions" %>
        <% end %>

        <%= link_to edit_admin_building_classroom_path(@building, classroom) do %>
          <%= image_tag "edit.png", class: "actions" %>
        <% end %>

        <%= link_to admin_building_classroom_path(@building, classroom), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= image_tag "delete.png", class: "actions" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td colspan="4">
      <%= link_to new_admin_building_classroom_path(@building) do %>
        <%= image_tag "add.png", class: "actions" %><span class="noLink"> Add a new classroom</span>
      <% end %>
    </td>
  </tr>
</table>

<%= link_to admin_buildings_path do %>
  <div class="backButton">
    <p>Back</p>
  </div>
<% end %>