<% if notice %>
  <div class="success">
    <p><%= notice %></p>
  </div>
<% end %>

<div class="breadcrumbs">
  <a href="/admin/dashboard">Administrator Dashboard</a>
  <span> / </span>
  <%= link_to 'Users', admin_users_path %>
</div>

<table class="adminTable">
  <thead>
    <tr>
      <td>Id</td>
      <td>Email</td>
      <td>First name</td>
      <td>Role</td>
      <td>Action</td>
    </tr>
  </thead>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.role %></td>
        <td>
          <%= link_to admin_user_path(user) do %>
            <%= image_tag "show.png", class: "action" %>
          <% end %>

          <%= link_to edit_admin_user_path(user) do %>
            <%= image_tag "edit.png", class: "action" %>
          <% end %>

          <%= link_to admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= image_tag "delete.png", class: "action" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <tr>
    <td colspan="5">
      <%= link_to new_admin_user_path do %>
        <%= image_tag "add.png", class: "action" %><span class="noLink"> Create a new user</span>
      <% end %>
    </td>
  </tr>
</table>

<br>

<%= link_to 'dashboard' do %>
  <div class="backButton">
    <p>Back</p>
  </div>
<% end %>