<div class="breadcrumbs">
  <a href="/admin/dashboard">Administrator Dashboard</a>
  <span> / </span>
  <%= link_to 'Users', admin_users_path %>
  <span> / </span>
  <%= link_to @user.name, admin_user_path(@user) %>
</div>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= get_role_name(@user.role) %>
</p>

<%= link_to admin_users_path do %>
  <div class="backButton">
    <p>Back</p>
  </div>
<% end %>