<!DOCTYPE html>
<html>
  <head>
    <title>ClassroomView</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-inverted navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<div id="guestText">
					<a href="/classrooms" id="guestText">HR Classrooms</a>
					<ul class="navbar-right">
						<li><a href="#" id="loginText">Admin page</a></li>
						<% if user_signed_in? %>
							<li>
								<%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
							</li>
						<% else %>
							<li>
								<%= link_to('Login', new_user_session_path)  %>  
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	 </div>
	<div class="innerBody">
		<%= yield %>
	</div>
  </body>
</html>
